.main_content {
  
    background-color: blue;
    display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-self: start;
}

.main_heading{
    grid-column: 1 / 2;
    
}
.add.todo{
    grid-column: 2 / 3;
    width: 2rem;
    height: 2rem;
    place-self: center;
}
