*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{

   background-color: rgb(55, 87, 190);
}
h1{
    color: white;
}

.container{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 2fr;
place-content: center;
}

.sidebar{
   border: 1px solid black;
    grid-column: 1 / 2;
  
}
.main_content{
    
    border: 1px solid black;
    grid-column: 2 / 3;


}

button{

    border-radius: 50px;
    background-color: lightcoral;
    color: white;
    font-size: 20px;
}

dialog{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
   }
   .submit{
    width: 100px;
    justify-self: center;
    background-color: #6ab5ff;
    border-radius: 10px;
    font-weight: bolder;
}

dialog:not([open]){
  display:none;
}