* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html {
  background-color: rgb(55, 87, 190);
}
h1 {
  color: white;
  font-size: 2rem;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
  
  
}

button {
  background-color: lightcoral;

  font-size: 20px;
}
